* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
:root {
    --header-bg-color: #046307;
    --greenie: rgb(43, 80, 73);
}

/* ---------------------------- */
#header{ 
    padding: 2%;
    background-color: var(--header-bg-color);
    /*border: 1px solid black;*/
}
#header-nav{
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    justify-content: space-between;
    align-items: end;
}
#header-nav #header-logo-div {
    width: 5%;
    /* height: 4%; */
    display: flex;
    /*border: 1px solid white;*/
}
#logo {
    width: 100%;
    height: 100%;
    /*border: 1px solid white;*/
}
#header-nav-ul{
    /*border: 1px solid maroon;*/
    text-decoration: none;
    width: 70%;
    height: 100%;
}
/* This div simple wraps around all the list
   items to make it easy to flex them
*/
#header-nav-ul-div {
    display: flex;
    /*border: 1px solid blue;*/
    height: 100%;
    align-items: center; /* inconsequential, may remove */
    justify-content: space-around;
}
.header-nav-ul-li{
    /* border: 1px solid lime; */
    text-decoration: none;
    list-style-type: none;
    font-size: 3.8svb;
    color: white;
}
/* Necessary to make <a></a> link inside the <li></li> work appropriately */
.header-nav-ul-li-a {
    text-decoration: none;
    list-style-type: none;
    font-size: 3.8svb;
    color: white;
}
#selected-nav-ul-li {
    border: 1px solid white;
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 4%;
    padding: 2%;
}
#selected-nav-ul-li-a {
    color: gray;
}

/* ---------------------------- */
main {
    background-color: azure;
    padding-bottom: 4%;
    margin-bottom: 2%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us-div{
    /*border: 1px solid orange;*/
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
#about-us-div #about-us-article {
    /*border: 1px solid pink;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:larger;
    margin-top: 6%;
}

#about-us-div #about-us-article .box-border {
    max-width: 650px;
    background: #80d5a6;
    background: var(--header-bg-color);
    border: 5px dashed mediumseagreen;
    box-shadow: 0 0 0 2.5px #226741, 0 0 0 12.5px #fff, inset 0 0 0 2.5px #226741, 0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff, inset 0 0 100vw 100vw beige;
    /*color: mediumseagreen;*/
    /*color: rgb(43,80,73);*/
    color: var(--header-bg-color);
    font-family: Marcellus, serif;
    font-size: 3em;
    text-shadow: 0 2px #fff;
    text-align: center;
    padding-top: 20px;
}

#about-us-div #about-us-article .box-border head {
    font-style: bold;
}
/* /----------------------------/ */ 
.quote-wrapper {
    width: 500px;
    height: 500px;
    /*position: relative; */
    /*margin: 10vh auto 0;*/ /*OPTIONAL MARGIN*/
}
  
.text {
    width: 100%;
    height: 100%;
    /*BLUE BG*/
    /*background: radial-gradient(
      ellipse at center,
      rgba(0, 128, 172, 1) 0%,
      rgba(0, 128, 172, 1) 70%,
      #0080ac00 70.3%
    );*/
    /*RED BG
    background: radial-gradient(
      ellipse at center,
      rgba(210, 20, 20, 1) 0%,
      rgba(210, 20, 20, 1) 70%,
      rgba(210, 20, 20, 0) 70.3%
    );*/
    position: relative;
    margin: 0;
    color: black;
}
  
/* Important to control the texts */
.text p {
    height: 100%;
    font-size: 21px;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
  
.text::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
    );
    shape-margin: 7%;
}
  
.text p::before {
    content: "";
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
    );
    shape-margin: 7%;
}
  
.quote-wrapper blockquote footer {
    width: 100%;
    position: absolute;
    bottom: 25px;
    font-size: 17px;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
  
/*.quote-wrapper::before {
    content: "\201C";
    font-size: 270px;
    height: 82px;
    line-height: 0.78;
    line-height: 1;
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;
    font-family: sans-serif, serif;
    color: #ccc;
    opacity: 0.9;
} */
  
@media (min-width: 850px) {
    .quote-wrapper {
      width: 600px;
      height: 623px;
    }
  
    .quote-wrapper::before {
      font-size: 300px;
    }
  
    .text p {
      font-size: 26px;
    }
  
    .quote-wrapper blockquote footer {
      bottom: 32px;
    }
}

.logo-layer .inner-logo-layer #logo {
    width: 8%;
    height: 8%;
}
  

/*.buffer IS JUST A BLANK WHITE SPACE*/
/* ---------------------------- */
.buffer {
    height: 45px;
    background-color: white;
}


/* ---------------------------- */
#page-footer {
    /*width: 100%;*/
    height: 20vh;
    background-color: black;
    padding: 2px;
    margin-top: 4px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#article h1 {
    text-align: center;
    /*border: 1px solid red;*/
    font-family: 'Lato', sans-serif;
    font-weight: light;
    color: #012030;
    margin-bottom: 2%;
}
#all-six-step-processes {
    border: 1px solid saddlebrown; 
    display: flex;
}
.a-step-process {
    border: 1px solid orange;
    display: flex;
}
.a-step-process {
    flex-basis: 1;
}
.a-step-process .a-step-picture-illustration {
    border: 1px solid gold;
    flex-basis: 5;
}